<header class="barra-fija">
  
  <div class="contenedor-logo">
    <span class="icono">🟢</span>
    <span class="titulo">SpotifyFalso</span>
  </div>

  <nav class="menu-central">

    <input #txtInput type="text" placeholder="Que quieres escuchar" class="input-cancion"
    (keyup.enter)="mandarBusqueda(txtInput.value)">
    <button class="boton-navegacion" (click)="mandarBusqueda(txtInput.value)">Buscar</button>

    <button class="boton-navegacion">Biblioteca</button>
  </nav>

  <div class="perfil-usuario">
    <span class="avatar">👤</span>
  </div>

</header>